{% extends "MainBundle::PageLayout.html.twig" %}
{% block title %}
    Demande En Cours | TuniPharma
{% endblock title %}
{% block titre %}
    Demande En Cours
{% endblock titre %}
{% block description %}
{% endblock description %}
{% block corps %}
{% trans_default_domain 'FOSUserBundle' %}

<p>{{ 'resetting.password_already_requested'|trans }}</p>
{% endblock corps %}
